div.lr_rating, tr.lr_label td { font:9px "Arial", sans-serif; color: #676767; }
div.lr_rating {
 background:url(http://ly.lygo.com/ly/rate/bg_131x21.gif) no-repeat;
 width:131px;
 height:21px;
}
div.lr_main { padding:1px 0 0 43px }
div.lr_pop_top {
 background:#f2f2f3;
 border-bottom:1px solid #d1cfcf;
 padding:4px;
}
div.lr_pop {
 position:absolute;
 margin:20px 0 0 5px;
 width:120px;
 border:1px solid #d1cfcf;
 background:#fff;
 display:none;
}
div.lr_pop_bot div { padding:0 6px 2px }
img.lr_star, img.lr_stars, img.lr_arrow { border:0; }
img.lr_arrow {
 width:7px;
 height:7px;
 margin:0 10px 3px 5px;
}
